<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sungbin.library.aboutme" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" />

</manifest>